@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Edu+NSW+ACT+Foundation&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Serif+Pro:wght@700&display=swap');
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    min-width: 250px;
    height: 100vh;
    display: block;
    background-image: url(hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main{
  background-color:  rgba(0, 0, 0, 0.4);
  width: 80%;
  min-height: 60%;
  align-items: center;
  text-align: center;
  margin: 10% auto 0 auto;
 border-radius: 8px;
 color: white;
}
#myInput{
  width: 80%;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: medium;
  font-weight: 800;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}
.addBtn{
  width: 60px;
  padding:8.8px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  background-color: white;
  color: black;
  cursor: pointer;
}
ul{
  margin: 0;
    padding: 0;
}
ul li {
  cursor: pointer;
  position: relative;
  padding-top: 10px;
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  transition: 0.2s;
  font-weight: 800;
  color: white;
  margin-left: 5%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li.checked {
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}
#footer{
  text-align: center;
  padding-top:2%;
  color: #c64f47;
}

.addBtn:hover {
  background-color: #9a9999;
}
  @media(min-width:900px){
    .main{
      width: 40%;
    }
  }